@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Fonts */
    --ff-headings: 'Poppins';
    --ff-body: 'Open Sans';

    --fw-mid: 400;
    --fw-bold: 600;

    /* Colors */
    --clr-primary-violet: hsl(257, 40%, 49%);
    --clr-primary-softmagenta:  hsl(300, 69%, 71%);
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: grid;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  html, body {
    height: 100%;
    background-color: var(--clr-primary-violet);
    display: grid;
  }
  main {
    background-image: url(images/bg-mobile.svg);
background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 2rem;
    place-content: center;
  }
  .register__huddle-logo {
    margin-bottom: 2.5rem;
  }
  .register__main-image {
    margin-bottom: 1rem;
  }
  .register__main-title {
    font-family: var(--ff-headings);
    font-weight: var(--fw-bold);
    margin-bottom: .5rem;
  }
  .register__sub-title {
    font-family: var(--ff-headings);
    opacity: 0.95;
    font-size: 1rem;
    font-weight: var(--fw-mid);
    padding: 0;
    margin-bottom: 1.5rem;
  }
  .register__button {
    color: var(--clr-primary-violet);
    padding: .7rem;
    border-radius: 2rem;
    font-family: var(--ff-headings);
    font-size: 0.93rem;
    border: transparent;
    width: 14rem;
    box-shadow: 2px 4px 4px rgba(46, 8, 46, 0.788);
    margin-bottom: 2.25rem;
    cursor: pointer;
  }
  .register__flexrow-icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    place-content: center;
    cursor: pointer;
  }
  i {
    width: 36px;
    height: 36px;
    padding: 8px;
    border: 2px solid white;
    border-radius: 50%;
    text-align: center;
  }
  i:hover {
    color: var(--clr-primary-softmagenta);
    border: 2px solid var(--clr-primary-softmagenta);
  }
  .register__button:hover {
    color: white;
    background-color: var(--clr-primary-softmagenta);
  }

  @media (min-width:376px) {
   main {
    background-image: url(images/bg-desktop.svg);
   }
  }
  @media (min-width:780px) {
    main {
    background-repeat: no-repeat;
      text-align: start;
      color: white;
      padding: 2rem;
      margin-left: 4rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .landing-page__images {
      grid-column: 1;
    }
    .register__huddle-logo {
      place-self: start
      ;
    }
    .landing-page__text {
      grid-column: 2;
      place-content: center;
      max-width: 500px;
      margin-left: 3rem;
      margin-right: 2rem;
    }
    .register__flexrow-icons {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      place-content: end;
      position: relative;
      top: 140px;
      right: 20px;
    }
    .register__flexrow-icons {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-content: center;
    }
    i:hover {
      color: var(--clr-primary-softmagenta);
      border: 2px solid var(--clr-primary-softmagenta);
    }
    .register__button:hover {
      color: white;
      background-color: var(--clr-primary-softmagenta);
    }
  }